/* Estilos CSS para las figuras */
.figura {
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: 1px solid black;
    margin: 10px;
    float: left;
    position: static;
}
.esquina {
    position: absolute;
    top: 20px; /* Cambia el valor aquí */
    right: 0;
    width: 450px;
}

.new {
    position: absolute;
    top: 20px; /* Cambia el valor aquí */
    right: 0;
    width: 850px;
}


/* Estilo para la figura del header */
#header-figura {
    background-color: lightblue;
    width: 1200px;
    height: 100px;
    text-align: center; /* Centrar el texto */
    position: static;
}

/* Estilo para la figura del nav */
#nav-figura {
    background-color: lightgreen;
    width: 200px;
    height: 500px;
    text-align: center;
    position: static;
}

/* Estilo para la figura del footer */
#footer-figura {
    background-color: lightcoral;
    width: 1200px;
    height: 100px;
    text-align: center;
    position: static;
}

/* Estilo para la figura del article */
#article-figura {
    background-color: lightyellow;
    width: 1080px;
    height: 505px;
    text-align: center;
    position: static;
}

/* Estilo para la primera figura del aside dentro del article*/ 
#aside-article-1 {
    background-color: lightpink;
    width: 100px;
    height: 100px;
    text-align: center;
    position: static;
}
